.use-fb-like-a-boss .fba-search input {
    width: 200px;
    margin: 10px auto;
    display: block !important;
    padding: 11px !important;
}
.use-fb-like-a-boss .pure-g {
    padding: 10px;
    background: rgb(233, 235, 238);
    margin-bottom: 3px;
}
.use-fb-like-a-boss p.image.is-64x64 {
    margin-top: 0;
    margin-bottom: 0;
}
.use-fb-like-a-boss p.image.is-64x64 img {
    width: 75% !important;
    border-radius: 50%;
}
.use-fb-like-a-boss .pure-u-2-3, .pure-u-16-24 {
    width: 66.6667%;
    margin-top: 12px;
}
.use-fb-like-a-boss .my-crawler-btn {
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
}
.use-fb-like-a-boss .my-crawler-btn button {
    background: transparent;
    padding: 7px;
    text-align: center;
    margin: 0 auto;
    margin-left: 4px !important;
    box-shadow: none;
    border: 1px solid #BDB1B1;
    cursor: pointer;
}
.use-fb-like-a-boss .my-crawler-btn button:hover{
  background: gray;
  color: white;
  transition: .3s;
}
.use-fb-like-a-boss .sidebar {
    height: 100vh !important;
    min-width: 320px !important;
}
.use-fb-like-a-boss > button{
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
